<a href="https://colab.research.google.com/github/Maryam-Mostafa/Pyspark-/blob/master/Practical_Session%20on%20pySpark%20dataframe%20operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab 1 PySpark:** 


In these labs we will be using the "[[NeurIPS 2020] Data Science for COVID-19 (DS4C)](https://www.kaggle.com/datasets/kimjihoo/coronavirusdataset?select=PatientInfo.csv)" dataset, retrieved from [Kaggle](https://www.kaggle.com/) on 1/6/2022, for educational non commercial purpose, License
[CC BY-NC-SA 4.0
](https://creativecommons.org/licenses/by-nc-sa/4.0/)


The csv files that we will be using in this lab is **PatientInfo**.

# File üìÅ

##PatientInfo.csv

**patient_id**
the ID of the patient

**sex**
the sex of the patient

**age**
the age of the patient

**country**
the country of the patient

**province**
the province of the patient

**city**
the city of the patient

**infection_case**
the case of infection

**infected_by**
the ID of who infected the patient


**contact_number**
the number of contacts with people

**symptom_onset_date**
the date of symptom onset

**confirmed_date**
the date of being confirmed

**released_date**
the date of being released

**deceased_date**
the date of being deceased

**state**
isolated / released / deceased

# Installing PySpark:

Kindly install pyspark ‚å®

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

Check the pyspark version

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()

print('PySpark Version :'+spark.version)

PySpark Version :3.2.1

Importing sparksession then create a spark session

In [ ]:
import pyspark
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Lab1_G2').getOrCreate()

## Importing libraries needed

Import the libraries that you may need below

# Follow the instructions above the cells below:

Kindly load the PatientInfo.csv file and show the first 5 rows

‚ùå PLEASE do NOT change the cell below

In [ ]:
!gdown https://drive.google.com/uc?id=1PB6wBDVTM_eocxOyi0lWlLBQOlH0rLe_ -O PatientInfo.csv

Downloading...
From: https://drive.google.com/uc?id=1PB6wBDVTM_eocxOyi0lWlLBQOlH0rLe_
To: /content/PatientInfo.csv
100% 489k/489k [00:00<00:00, 77.4MB/s]

load the **PatientInfo.csv** file downloaded and put it in a dataframe called **patient**

In [ ]:
df = spark.read.csv('/content/PatientInfo.csv', header = True, inferSchema=True)

Show the first 5 rows

In [ ]:
df.show(5)

+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|patient_id|   sex|age|country|province|       city|      infection_case|infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|   state|
+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|1000000001|  male|50s|  Korea|   Seoul| Gangseo-gu|     overseas inflow|       null|            75|        2020-01-22|    2020-01-23|   2020-02-05|         null|released|
|1000000002|  male|30s|  Korea|   Seoul|Jungnang-gu|     overseas inflow|       null|            31|              null|    2020-01-30|   2020-03-02|         null|released|
|1000000003|  male|50s|  Korea|   Seoul|  Jongno-gu|contact with patient| 2002000001|            17|              null|    2020-01-30|   2020-02-19|         null|released|
|1000000004|  male|20s|  Korea|   Seoul|    Mapo-gu|     overseas inflow|       null|             9|        2020-01-26|    2020-01-30|   2020-02-15|         null|released|
|1000000005|female|20s|  Korea|   Seoul|Seongbuk-gu|contact with patient| 1000000002|             2|              null|    2020-01-31|   2020-02-24|         null|released|
+----------+------+---+-------+--------+-----------+--------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
only showing top 5 rows

Display the schema for the dataset

In [ ]:
 df.printSchema()

root
 |-- patient_id: long (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: string (nullable = true)
 |-- country: string (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- infected_by: string (nullable = true)
 |-- contact_number: string (nullable = true)
 |-- symptom_onset_date: string (nullable = true)
 |-- confirmed_date: string (nullable = true)
 |-- released_date: string (nullable = true)
 |-- deceased_date: string (nullable = true)
 |-- state: string (nullable = true)

Display the statistical summary

In [ ]:
df.summary().show()

+-------+--------------------+------+----+----------+--------+--------------+--------------------+--------------------+--------------------+------------------+--------------+-------------+-------------+--------+
|summary|          patient_id|   sex| age|   country|province|          city|      infection_case|         infected_by|      contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|   state|
+-------+--------------------+------+----+----------+--------+--------------+--------------------+--------------------+--------------------+------------------+--------------+-------------+-------------+--------+
|  count|                5165|  4043|3785|      5165|    5165|          5071|                4246|                1346|                 791|               690|          5162|         1587|           66|    5165|
|   mean|2.8636345618679576E9|  null|null|      null|    null|          null|                null|2.2845944015643125E9|1.6772572523506988E7|              null|          null|         null|         null|    null|
| stddev| 2.074210725277473E9|  null|null|      null|    null|          null|                null|1.5265072953383324E9| 3.093097580985502E8|              null|          null|         null|         null|    null|
|    min|          1000000001|female|  0s|Bangladesh|   Busan|     Andong-si|Anyang Gunpo Past...|          1000000002|                   -|                  |    2020-01-20|   2020-02-05|   2020-02-19|deceased|
|    25%|          1000001291|  null|null|      null|    null|          null|                null|       1.400000102E9|                 2.0|              null|          null|         null|         null|    null|
|    50%|          2000000369|  null|null|      null|    null|          null|                null|       2.000000167E9|                 4.0|              null|          null|         null|         null|    null|
|    75%|          6001000115|  null|null|      null|    null|          null|                null|       2.000000975E9|                14.0|              null|          null|         null|         null|    null|
|    max|          7000000019|  male| 90s|   Vietnam|   Ulsan|sankyeock-dong|     overseas inflow|          7000000009|                  95|        2020-06-28|    2020-06-30|   2020-06-28|   2020-05-25|released|
+-------+--------------------+------+----+----------+--------+--------------+--------------------+--------------------+--------------------+------------------+--------------+-------------+-------------+--------+

How many people survived, and how many didn't survive?

In [ ]:
# isolated / released / deceased
not_survived = df.filter(df.state == 'deceased').count()
survived = (df.filter(df.state == 'released').count()) + (df.filter(df.state == 'isolated').count())
print(f"people survived count = {survived}, people who didn't survived count {not_survived}")

people survived count = 5087, people who didn't survived count 78

Display the number of null values in each column

In [ ]:
from pyspark.sql.functions import col,isnan, when, count
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+----------+----+----+-------+--------+----+--------------+-----------+--------------+------------------+--------------+-------------+-------------+-----+
|patient_id| sex| age|country|province|city|infection_case|infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|state|
+----------+----+----+-------+--------+----+--------------+-----------+--------------+------------------+--------------+-------------+-------------+-----+
|         0|1122|1380|      0|       0|  94|           919|       3819|          4374|              4475|             3|         3578|         5099|    0|
+----------+----+----+-------+--------+----+--------------+-----------+--------------+------------------+--------------+-------------+-------------+-----+

# Data preprocessing

Kindly fill the nulls in the **deceased_date** with the **released_date**

In [ ]:
from pyspark.sql.functions import coalesce

Drop values having a null deceased_date

In [ ]:
df = df.na.drop(subset="deceased_date")
df.show()

+----------+------+---+-------+--------+------+------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|patient_id|   sex|age|country|province|  city|    infection_case|infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|   state|
+----------+------+---+-------+--------+------+------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
|1200000038|female|50s|  Korea|   Daegu|Nam-gu|              null|       null|          null|              null|    2020-02-18|         null|   2020-02-23|deceased|
|1200000114|  male|70s|  Korea|   Daegu|  null|Shincheonji Church|       null|          null|              null|    2020-02-21|         null|   2020-02-26|deceased|
|1200000620|  male|70s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-02-24|         null|   2020-03-02|deceased|
|1200000901|female|80s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-02-25|         null|   2020-03-04|deceased|
|1200001064|female|70s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-02-26|         null|   2020-03-01|deceased|
|1200001288|  male|60s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-02-27|         null|   2020-03-02|deceased|
|1200001443|  male|70s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-02-27|         null|   2020-02-27|deceased|
|1200001921|  male|60s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-02-28|         null|   2020-03-05|deceased|
|1200002085|  male|70s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-02-28|         null|   2020-03-04|deceased|
|1200002289|  male|60s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-02-28|         null|   2020-03-05|deceased|
|1200002614|female|70s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-02-29|         null|   2020-03-01|deceased|
|1200002769|female|80s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-02-29|         null|   2020-03-02|deceased|
|1200002936|  male|80s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-02-29|         null|   2020-03-06|deceased|
|1200003550|female|60s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-03-01|         null|   2020-03-09|deceased|
|1200003578|  male|90s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-03-01|         null|   2020-03-07|deceased|
|1200003896|  male|80s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-03-01|         null|   2020-03-03|deceased|
|1200003914|  male|80s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-03-01|         null|   2020-03-09|deceased|
|1200004046|female|50s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-03-01|         null|   2020-03-01|deceased|
|1200005767|  male|80s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-03-05|         null|   2020-03-05|deceased|
|1200007196|  male|70s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-03-08|         null|   2020-03-09|deceased|
+----------+------+---+-------+--------+------+------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+
only showing top 20 rows

Add a column named no_days which is difference between the deceased_date and the confirmed_date then show the top 5 rows

Hint: You need to typecase these coumns as date first

In [ ]:
from pyspark.sql.functions import datediff, to_date

df = df.withColumn("no_days", datediff(to_date(df['deceased_date']) , to_date(df['confirmed_date'])))
df.select('no_days').show(5)

+-------+
|no_days|
+-------+
|      5|
|      5|
|      7|
|      8|
|      4|
+-------+
only showing top 5 rows

In [ ]:
df.show(5)

+----------+------+---+-------+--------+------+------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+
|patient_id|   sex|age|country|province|  city|    infection_case|infected_by|contact_number|symptom_onset_date|confirmed_date|released_date|deceased_date|   state|no_days|
+----------+------+---+-------+--------+------+------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+
|1200000038|female|50s|  Korea|   Daegu|Nam-gu|              null|       null|          null|              null|    2020-02-18|         null|   2020-02-23|deceased|      5|
|1200000114|  male|70s|  Korea|   Daegu|  null|Shincheonji Church|       null|          null|              null|    2020-02-21|         null|   2020-02-26|deceased|      5|
|1200000620|  male|70s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-02-24|         null|   2020-03-02|deceased|      7|
|1200000901|female|80s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-02-25|         null|   2020-03-04|deceased|      8|
|1200001064|female|70s|  Korea|   Daegu|  null|              null|       null|          null|              null|    2020-02-26|         null|   2020-03-01|deceased|      4|
+----------+------+---+-------+--------+------+------------------+-----------+--------------+------------------+--------------+-------------+-------------+--------+-------+
only showing top 5 rows

Add a **is_male** column if male then it should yield 1, else then 0 and show your dataframe

In [ ]:
from pyspark.sql.functions import when, lit
df = df.withColumn("is_male", \
   when((df.sex == 'male'), lit(1))\
     .otherwise(lit(0)) \
  )
df.select(['sex', 'is_male']).show()

+------+-------+
|   sex|is_male|
+------+-------+
|female|      0|
|  male|      1|
|  male|      1|
|female|      0|
|female|      0|
|  male|      1|
|  male|      1|
|  male|      1|
|  male|      1|
|  male|      1|
|female|      0|
|female|      0|
|  male|      1|
|female|      0|
|  male|      1|
|  male|      1|
|  male|      1|
|female|      0|
|  male|      1|
|  male|      1|
+------+-------+
only showing top 20 rows

Add a **is_dead** column if patient state is released then make it 1, else 0 and show your dataframe

In [ ]:
 from pyspark.sql.functions import when, lit
df = df.withColumn("is_dead", \
   when((df.state == 'deceased'), lit(1))\
     .otherwise(lit(0)) \
  )
df.select(['state', 'is_dead']).show()

+--------+-------+
|   state|is_dead|
+--------+-------+
|deceased|      1|
|deceased|      1|
|deceased|      1|
|deceased|      1|
|deceased|      1|
|deceased|      1|
|deceased|      1|
|deceased|      1|
|deceased|      1|
|deceased|      1|
|deceased|      1|
|deceased|      1|
|deceased|      1|
|deceased|      1|
|deceased|      1|
|deceased|      1|
|deceased|      1|
|deceased|      1|
|deceased|      1|
|deceased|      1|
+--------+-------+
only showing top 20 rows

Kindly change the ages to bins from 10s, 0s, 10s, 20s,.etc to 0,10, 20 and show your dataframe

In [ ]:
#normal funvtion
def remove_s(age):
  if age:
    new_age = int(age[:-1])
    return new_age
  else:
    return "None"

# remove_s('10s') 
from pyspark.sql.types import IntegerType
import pyspark.sql.functions as f

remove_S_udf = f.udf(lambda x : remove_s(x), IntegerType())
spark.udf.register('remove_S_udf', remove_S_udf)

In [ ]:
df = df.withColumn("age",remove_S_udf('age'))
df.select('age').show()

+---+
|age|
+---+
| 50|
| 70|
| 70|
| 80|
| 70|
| 60|
| 70|
| 60|
| 70|
| 60|
| 70|
| 80|
| 80|
| 60|
| 90|
| 80|
| 80|
| 50|
| 80|
| 70|
+---+
only showing top 20 rows

Repeat the same, but for the **no_days** return the numbers only and show your dataframe

In [ ]:
df = df.withColumn("no_days",df.no_days.cast('double'))

Print the schema

In [ ]:
df.printSchema()

root
 |-- patient_id: long (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- infected_by: string (nullable = true)
 |-- contact_number: string (nullable = true)
 |-- symptom_onset_date: string (nullable = true)
 |-- confirmed_date: string (nullable = true)
 |-- released_date: string (nullable = true)
 |-- deceased_date: string (nullable = true)
 |-- state: string (nullable = true)
 |-- no_days: double (nullable = true)
 |-- is_male: integer (nullable = false)
 |-- is_dead: integer (nullable = false)

**age** and **no_days** need to be typecasted as Double

In [ ]:
df = df.withColumn("age",df.age.cast('double'))

reprint the schema to check:

In [ ]:
df.printSchema()

root
 |-- patient_id: long (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: double (nullable = true)
 |-- country: string (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- infected_by: string (nullable = true)
 |-- contact_number: string (nullable = true)
 |-- symptom_onset_date: string (nullable = true)
 |-- confirmed_date: string (nullable = true)
 |-- released_date: string (nullable = true)
 |-- deceased_date: string (nullable = true)
 |-- state: string (nullable = true)
 |-- no_days: double (nullable = true)
 |-- is_male: integer (nullable = false)
 |-- is_dead: integer (nullable = false)

Kindly drop the columns below

 ["patient_id","sex","infected_by","contact_number","released_date","state","symptom_onset_date","confirmed_date","deceased_date","country","no_days","city","infection_case"]

In [ ]:
cols = ("patient_id","sex","infected_by","contact_number",
        "released_date","state","symptom_onset_date","confirmed_date",
        "deceased_date","country","no_days","city","infection_case")

df = df.drop(*cols)
df.printSchema()

root
 |-- age: double (nullable = true)
 |-- province: string (nullable = true)
 |-- is_male: integer (nullable = false)
 |-- is_dead: integer (nullable = false)

Please recount the number of nulls now

In [ ]:
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+---+--------+-------+-------+
|age|province|is_male|is_dead|
+---+--------+-------+-------+
|  0|       0|      0|      0|
+---+--------+-------+-------+

We will handle the null values next lab using imputer, look it up if you would like.

Best of luck dears ü§©ü§©ü§©

If you have any questions you can reach out to me:

### Omar Hammad
#### Software Engineer
##### Email: ommar365@gmail.com
##### Phone: 01144070145
##### Linkedin: https://www.linkedin.com/in/omar-a-hammad