<a href="https://colab.research.google.com/github/Maryam-Mostafa/Pyspark-/blob/master/PySpark%20with%20SQL%20and%20linear%20regression%20model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Task 1 - SQL

### Build SparkSession:

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 54 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 73.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=5b91f7a18f178e0335a2381b7568a0e1176fd28a4fbd3e95773b6579ea3dbfb4
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
import pyspark
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()

### Read the json file:

In [ ]:
df = spark.read.json("DataFrames_sample.json")

### Display the schema:

In [ ]:
df.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Create Table:

In [ ]:
df.createOrReplaceTempView("computers")

### Get all the data when "Model" equal "MacBook Pro":

In [ ]:
sql1 = spark.sql("SELECT * FROM computers where model = 'MacBook Pro'")
sql1.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Display "RAM"column and count "RAM" column:

In [ ]:
sql2 = spark.sql("SELECT ram FROM computers")
sql2.show()

+----+
| ram|
+----+
|16GB|
| 8GB|
| 8GB|
|64GB|
+----+

In [ ]:
ram_count = spark.sql("SELECT count(ram) FROM computers")
ram_count.show()

+----------+
|count(ram)|
+----------+
|         4|
+----------+

### Get all columns when "Year" column equal "2015"

In [ ]:
sql3 = spark.sql("SELECT * FROM computers where year = 2015")
sql3.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [ ]:
sql4 = spark.sql("SELECT * FROM computers where Model like 'M%'")
sql4.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [ ]:
sql5 = spark.sql("SELECT * FROM computers where Model = 'MacBook Pro' ")
sql5.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [ ]:
sql6 = spark.sql("SELECT * FROM computers where ram = '8GB' and  Model = 'MacBook' ")
sql6.show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [ ]:
sql7 = spark.sql("SELECT * FROM computers where D >= 8 and  Model = 'iMac'")
sql7.show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [ ]:
df = spark.read.csv('test1.csv', header = True, inferSchema=True)

In [ ]:
df.createOrReplaceTempView('cv')

### Display Salary of the people less than or equal to 20000

In [ ]:
sql1 = spark.sql("SELECT salary FROM cv where salary <= 20000")
sql1.show()

+------+
|salary|
+------+
| 20000|
| 20000|
| 15000|
| 18000|
+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [ ]:
sql2 = spark.sql("SELECT salary FROM cv where salary <= 20000 and salary >= 15000")
sql2.show()

+------+
|salary|
+------+
| 20000|
| 20000|
| 15000|
| 18000|
+------+

## Task 3

### Read "test3" dataset:

In [ ]:
df = spark.read.csv('test3.csv', header = True, inferSchema=True)

In [ ]:
df.createOrReplaceTempView('employee')

### Display dataset

In [ ]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [ ]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [ ]:
sql1 = spark.sql("SELECT name, sum(salary) FROM employee group by name ")
sql1.show()

+---------+-----------+
|     name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

### Group by "Name" column and using avg function on "Name" column

In [ ]:
sql2 = spark.sql("SELECT name, avg(salary) FROM employee group by name ")
sql2.show()

+---------+------------------+
|     name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "Departments" column

In [ ]:
sql3 = spark.sql("SELECT departments, sum(salary) FROM employee group by departments")
sql3.show()

+------------+-----------+
| departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

### Group by "Departments" column and using mean function on "Departments" column:

In [ ]:
sql4 = spark.sql("SELECT departments, avg(salary) FROM employee group by departments")
sql4.show()

+------------+-----------+
| departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

Group by "Departments" column and using count function on "Departments" column:

In [ ]:
sql4 = spark.sql("SELECT departments, count(departments) FROM employee group by departments")
sql4.show()

+------------+------------------+
| departments|count(departments)|
+------------+------------------+
|         IOT|                 2|
|    Big Data|                 4|
|Data Science|                 4|
+------------+------------------+

### Apply agg to using sum function get the total of salaries

In [ ]:
sql5 = spark.sql("SELECT sum(salary) FROM employee")
sql5.show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [ ]:
df = spark.read.csv('ITI_data.csv', header = True, inferSchema=True)

In [ ]:
df.show(5)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 5 rows

In [ ]:
df.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

In [ ]:
df.createOrReplaceTempView('data')

In [ ]:
data = spark.sql("select Cruise_line, Age, Tonnage, passengers, length, cabins, passenger_density, crew from data")

In [ ]:
train, test = data.randomSplit([0.8,0.2], seed = 42)

### OneHotEncoder

In [ ]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml import Pipeline

In [ ]:
stringIndexer = StringIndexer(inputCol='Cruise_line',outputCol='indexed_cruise_line', handleInvalid='skip')

oheEncoder = OneHotEncoder(inputCol='indexed_cruise_line', outputCol='cruise_line_OHE')

###Use VectorAssembler to merge all columns into one column:

In [ ]:
inputColumns = ['Age', 'Tonnage', 'passengers', 'length', 'cabins', 'passenger_density','cruise_line_OHE']

In [ ]:
vecAssembler = VectorAssembler(inputCols=inputColumns,outputCol='features', handleInvalid = "skip")

### Create a Linear Regression Model

In [ ]:
lr = LinearRegression(featuresCol='features',labelCol='crew',predictionCol='prediction')

### Creating a Pipeline

In [ ]:
stgs = [stringIndexer,oheEncoder,vecAssembler,lr]
pl = Pipeline(stages=stgs)

In [ ]:
pl_Model = pl.fit(train)

In [ ]:
pred = pl_Model.transform(test)

In [ ]:
pred.printSchema()

root
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)
 |-- indexed_cruise_line: double (nullable = false)
 |-- cruise_line_OHE: vector (nullable = true)
 |-- features: vector (nullable = true)
 |-- prediction: double (nullable = false)

In [ ]:
pred.select('crew','prediction').show()

+-----+------------------+
| crew|        prediction|
+-----+------------------+
| 11.5|11.420093061257345|
| 11.6|12.143497203209318|
| 19.1|12.167768984956096|
|  9.2| 8.746516171953648|
|  9.2| 8.783030636571487|
|  6.6| 6.367134250625158|
| 9.99| 9.850998639275875|
|10.68|10.768887921277166|
|  9.0| 10.80732950246618|
| 9.21|10.462499697121288|
| 9.45| 9.461987370164996|
|  6.0|  6.01697696518459|
| 5.88| 5.419110244888666|
|  7.0| 7.039180016605009|
| 11.0|10.393296302907391|
|12.38| 11.43473138826106|
| 6.96| 7.447990762124995|
| 3.24| 3.726893783027866|
| 2.11|2.8554873182719547|
| 1.46|1.6596974041314558|
+-----+------------------+
only showing top 20 rows

###**Evaluating the model**

In [ ]:
from pyspark.ml.evaluation import RegressionEvaluator

In [ ]:
regeval = RegressionEvaluator(predictionCol='prediction', labelCol='crew', metricName='rmse')
regeval.evaluate(pred)

1.5815197803070133

In [ ]:
r2 = RegressionEvaluator(predictionCol='prediction', labelCol='crew', metricName='r2')
r2.evaluate(pred)

0.8508509028173967

By Eng. Mostafa Nabieh 
If you have questions, please feel free to ask.

My Email : nabieh.mostafa@yahoo.com

My Whatsapp : +201015197566